@mixin button($backgroundcolor , $color, $bordercolor){
    background-color: $backgroundcolor;
    color: $color;
    border: 1px solid $bordercolor;
    padding: 5px 30px;
    transition: all .5s;
    text-decoration: none;
    &:hover{
        background-color: $color;
        color: $backgroundcolor;
    }
}

@mixin section-title($color, $bordercolor){
    margin-bottom: 40px;
    border-right: 20px solid $bordercolor;
    padding-right: 15px;
    color: $color;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
}